.cache
build/ 
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles/
/wraps/cfltk
*.autogen.*
/dist/*
!/dist/website/
/dist/website/doxygen/*
/dist/website/docs/*
/node_modules/
/bun.lockb
/private