/.cache/
/.venv/
/build/ 
/subprojects/*
!/subprojects/packagefiles/
!/subprojects/fast_float.wrap
!/subprojects/forzen.wrap
!/subprojects/natsort.wrap
!/subprojects/pugixml.wrap
*.autogen.*
/private/
/.vscode/